header{
    background: url("../images/hero-image.png"); 
    background-size: cover;
    height: auto;
}
 header h1{
    font-family: 'Roboto Slab', serif;
    color: #bdbf09; 
    font-size: 60px;
    margin: 0; 
    padding: 18% 18% 0 18%;
    text-align: center; 
 }

 h2{
    font-family: 'Roboto', sans-serif;
    color: #095156; 
    font-size: 48px; 
    text-align: center;
    padding: 0 18% 18% 18%; 
 }

 h3{
    font-family: 'Roboto Slab', serif;
    color: #095156; 
    font-weight: bold; 
    font-size: 36px;
    text-align: center;
    padding-top: 2%; 
 }

 .card-wrapper{
     display: flex; 
     flex-flow: row wrap;
     justify-content: space-around;  
    margin: 10%;
 }

 .card{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 2%;  
 }

 .card-img-top{
     height: 150px; 
 }

 .btn{
    background: #095156;
 }

 .aboutMe{
     background: #087e8b;
     color: #fff; 
 }
 .aboutMe h3{
    color: #fff; 
 }
 .aboutMe .card-wrapper{
     justify-content: center;
     padding: 4%;
     margin: 0; 
    
 }
 .aboutMe .card{
     border: none; 
     margin-bottom: 5%;      
     background: #087e8b;
     font-family: 'Roboto', sans-serif;
     padding: 0 5%;    
 }

 #resume{
    color: #fff; 
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
 }

 .contact{
   background: #095156; 
   color: #fff; 
   text-align: center;
   font-size: 24px; 
   padding-bottom: 5%; 
 }
 .contact h3{
     color: #fff; 
 }

 #email{
    color: #fff; 
    font-size: 24px; 
 }

 .icons{
     margin-top: 1%; 
 }

 footer{
    background: #095156; 
   color: #fff; 
   text-align: center;

 }
 
/* Universal Css*/

/* body{
    color: #08528b; 
    font-family: 'Noto Sans JP', sans-serif;
    background: url("../images/background.png");   
    margin: auto; 
}


.navbar-brand {
    color: #ffffff;
    background-color: #087e8b;
    font-size: 35px; 
    font-family: 'Zhi Mang Xing', cursive;
    border-radius: 12px;
}

a {
    color: #08528b; 
    text-decoration: none; 
}
h2{
    text-align: center;
    font-weight: bold;   
    font-size: 30px; 
    font-family: 'Playfair Display', serif; 
}
h2{
    padding-top: 10%; 
}
img{
    padding-top: 5%;    
}


/*Portfolio*/

/* .content-wrapper{
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-around; 
}    

.projects{
    width: 25%;           
    margin: 3px 15px; 
    
}

.projects img{
    width: 100%;   
    border: solid 2px grey; 
    height: 220px;  
  
}
.link{
    margin-top: 75px;
    width: 64.5%; 
    position: absolute;
    background: #087e8b; 
    text-align: center; 
    border: solid 2px grey; 
}
.link a{
    width: inherit; 
    color: white; 
    font-size: 1em;    
}


#submit{
    background:#087e8b;     
    color: #ffffff; 
    border: solid 3px grey; 
    cursor: pointer;
    box-shadow: 0 5px #999;
}

#submit:hover{
    background: hsl(186, 89%, 18%)
}

#submit:active{
    background-color: #08528b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */
