nav{
   background-color: #095156; 
   font-family: 'Roboto Slab', serif;
   position: fixed;
   padding: 0 5%; 
}

nav .brand-logo{
   color: #bdbf09; 
   font-size: 1.5rem;
   font-family: 'Fredericka the Great', cursive;
}
nav a{
   text-decoration: none;
}
header{
    background: url("../images/hero-image.png"); 
    background-size: cover;
    height: auto;
}
 header h1{
    font-family: 'Roboto Slab', serif;
    color: #bdbf09; 
    font-size: 60px;
    margin: 0; 
    padding: 18% 18% 3% 18%;
    text-align: center; 
 }

 h2{
    font-family: 'Roboto', sans-serif;
    color: #095156; 
    font-size: 48px; 
    text-align: center;
    padding: 0 18% 18% 18%; 
    margin: 0; 
 }

 h3{
    font-family: 'Roboto Slab', serif;
    color: #095156; 
    font-weight: bold; 
    font-size: 36px;
    text-align: center;
    padding-top: 2%; 
    margin: 0; 
 }

 p{
    text-align: justify;
    font-size: 1rem; 
 }

section{
   padding: 3% 10%; 
}
.row{
   margin: 0; 
}
 .responsive-img{
   max-width: 100%;
   max-height: auto;
 }

 .md-3 {
   margin-bottom: 1rem!important;
}
col {
   flex-basis: 0;
   flex-grow: 1;
   max-width: 100%; 
}
 .card{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 3%;  
 }
 /* .btn{
    background: #095156;
 } */

 #projects{
     background: #087e8b;
     color: #fff; 
 }
 #projects h3{
    color: #bdbf09; 
 }

 #projects a{
	background-color: #bdbf09;
 }
 #aboutMe .card-wrapper{
     justify-content: center; 
     padding: 4%; 
     margin: 0; 
    
 }
 .description{
   color: #bdbf09; 
   text-align: center;
   margin-bottom: .5%; 
   font-size: 25px; 
}
 
 #aboutMe .card{
     border: none; 
     /* margin-bottom: 5%;       */
     background: #087e8b;
     font-family: 'Roboto', sans-serif;
     /* padding: 0 5%;     */
 }



 #resume{
    color: #fff; 
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
 }

 #contact{
   background: #095156; 
   color: #fff; 
   text-align: center;
   font-size: 24px; 
   padding-bottom: 5%; 
 }
 #contact h3{
     color: #fff; 
 }

 .phone{
    text-align: center;
    font-size: 1.5rem; 

 }

 #email{
    color: #fff; 
    font-size: 1.5rem; 
 }

 .icons{
     margin-top: 1%; 
 }

 footer{
   background: #095156; 
   color: #fff; 
   text-align: center;
   margin: 0;
   height: 100%; 
 }
 footer p{
    margin: 0; 
    padding: 1%; 
    text-align: center;

 }

#resume{
   margin: 2.5%;
   border-radius: 5%; 
    width: 18%; 
    font-size: 1rem;
 }


 .buttonDownload {
	display: inline-block;
	position: relative;
   padding: 10px 25px;
   margin: 0 0 1% 0 ; 
	background-color: #bdbf09;
	color: white;
  
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 15px;
}

.buttonDownload:hover {
	background-color: #095156;
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 1px;
	margin-top: -7px;
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;
	
	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: #4CC713;
}

.buttonDownload:hover:after {
	border-top-color: #4CC713;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}
	
	0.001% {
		margin-top: -15px;
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}

#show-mobile{
   display: none; 
}

@media only screen and (max-width:767px) {
   #show-mobile {
     display: block;
   }

   #hide-mobile{
      display: none; 
   }
}